/* ex 1 */
.ex-1-square:hover {
  background-color: red;
}

.ex-1-square {
  transition: 2s;
}

/* ex 2 */
.ex-2-square:active {
  width: 100%;
}

.ex-2-square {
  transition: 3s;
}

/* ex 3 */
.ex-3-square:hover {
  border-radius: 50%
}

.ex-3-square {
  transition: 0.5s ease-out;
}

/* ex 4 */
.ex-4-square:hover {
  background: transparent;
}

.ex-4-square {
  transition: 1.5s ease-out;
}

/* ex 5 */
.ex-5-square:hover {
  transform: scale(2, 2);
}

.ex-5-square:active {
  transform: scale(0.5, 0.5);
}

.ex-5-square {
  transition: 1s;
}

/* ex6 */
.ex-6-img:hover {
  filter: grayscale(1005);
}

/* ex 7 */
.ex-7-img:hover {
  filter: sepia(70%) grayscale(50%);
}

.ex-7-img {
  transition-property: all;
  transition: 2s;
}

/* ex 8 */
.ex-8-img:hover {
  filter: sepia(70%) grayscale(50%);
  border-radius: 20px;
}

.ex-8-img {
  transition: 2s;
}

/* ex 9 */
.ex-9-img:hover {
  filter: sepia(70%) grayscale(50%);
  border-radius: 20px;
  transform: scale(1.5, 1.5);
}

.ex-9-img {
  transition: 2s;
}

/* ex10 */
.ex-10-icon {
  animation: rotation 1s infinite linear reverse;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ex 11 */
.ex-11-icon:hover {
  animation: rotation2 1s linear;
}

@keyframes rotation2 {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(270deg);
  }
}
/* ex 12 */
.ex-12-button:hover .ex-12-top-white{
  animation: half-rotate 2s linear;
}

@keyframes half-rotate{
  0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
  animation: half-rotate-2  2s linear;
}

@keyframes half-rotate-2 {
  0% {
        right: 10%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 10%;
    }
}
/* ex 13 */
.ex-13-button:hover .ex-13-top-white{
  animation: loop-up 2s linear;
}

@keyframes loop-up {
  0% {
    left: 10%;
    top: -10px;
  }
  30% {
    left: calc(100% - 30px);
    top: -10px;
  }
  45% {
    left: calc(100% - 30px);
    top: 100%;
  }
  75% {
    left: 0;
    top: 100%;
  }
  90% {
    left: -15px;
    top: -10px;
  }
  100% {
    left: 10%;
    top: -10px;
  }
}

.ex-13-button:hover .ex-13-bottom-white{
  animation: loop-dwn 2s linear;
}

@keyframes loop-dwn{
  0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}
