/* ex 1 */
.ex-1-square:hover{
  background-color: red;
}

.ex-1-square{
  transition: 2s;
}
/* ex 2 */
.ex-2-square:active{
  width: 100%;
}

.ex-2-square{
  transition: 3s;
}
/* ex 3 */
.ex-3-square:hover{
  border-radius: 50%
}

.ex-3-square{
  transition: 0.5s ease-out;
}
/* ex 4 */
.ex-4-square:hover{
  background: transparent;
}

.ex-4-square{
  transition: 1.5s ease-out;
}
/* ex 5 */
.ex-5-square:hover{
  transform: scale(2,2);
}
.ex-5-square:active{
  transform: scale(0.5,0.5);
}

.ex-5-square{
  transition: 1s;
}
/* ex6 */
.ex-6-img:hover{
  filter: grayscale(1005);
}

/* ex 7 */

.ex-7-img:hover{
  filter:sepia(70%) grayscale(50%);
}

.ex-7-img{
  transition-property: all;
  transition: 2s;
}
